:root {
  /* Fonts-fam and Sizes */
  --body-font: "Roboto", sans-serif;
  --heading-font: "Anek Telugu", sans-serif;
  --heading-font-alt: "Audiowide", cursive;
  --h1-size: 96px;
  --h1-size-alt: 90px;
  --h1-height: 100px;
  --h2-size: 50px;
  --h2-height: 75px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 28px;
  --h6-size: 22px;
  --subtitle-size: 17px;
  --subtitle-height: 26px;
  --p-size: 18px;
  --p-alt-s-size: 16px;
  --p-alt-l-size: 20px;
  --p-height: 26px;
  --secondary-text-size: 14px;
  --secondary-text-height: 18px;
  --button-size: 16px;
  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --spacing-xxl: 100px;
  --spacing-xxxl: 140px;
  --width-standard: 1144px;
  /* Colors */
  --text-dark: #000;
  --text-light: #fff;
  --text-grey: #a9b5c5;
  --text-dark-grey: #3e444b;
  --company-blue-1: #317df0;
  --company-blue-2: #003cff;
  --blue-1: #00eeff;
  --initial-accent: rgb(23, 82, 160);
  --mid-accent: #0f2e57;
  --primary-accent: #031629;
  --primary-button-hover: #6d7a88;
  --bg-white: #fff;
  --bg-light: #eaeff3;
  --bg-light-dark: #eef0f5;
  --bg-light-darker: #efeff3;
  --primary-gradient: linear-gradient(
    101deg,
    #003cff 0%,
    #317df0 33%,
    #00d6e6 76%,
    #65f0fa 100%
  );

  --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.205);
  --heavy-box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.5);
}

body {
  font-family: var(--body-font);
  color: var(--text-dark);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: var(--spacing-sm) 0 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  margin: var(--spacing-xl) 0 0 0;
}

h1 {
  font-family: var(--heading-font);
  font-size: var(--h1-size);
  line-height: var(--h1-height);
  font-weight: 600;
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
}

.alt {
  /* Alternate H1 Styling (New style for testing) */
  font-family: var(--heading-font-alt);
  font-size: 80px;
  line-height: var(--h1-height);
  font-weight: 400;
  margin: 0;
  width: 100%;
  letter-spacing: -1px;
}

h2 {
  font-family: var(--heading-font);
  font-size: var(--h3-size);
  font-weight: 600;
  margin: 0;
  width: 100%;
}

h3 {
  font-family: var(--heading-font);
  font-size: var(--h3-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h4 {
  font-family: var(--heading-font);
  font-size: var(--h4-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
  letter-spacing: 0.25px;
}

h5 {
  font-family: var(--heading-font);
  font-size: var(--h5-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

h6 {
  font-family: var(--heading-font);
  font-size: var(--h6-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--company-blue-1);
  font-weight: 500;
  transition: color 0.25s ease;
}

a:hover {
  color: var(--primary-accent);
}

p {
  font-size: var(--p-size);
  line-height: var(--p-height);
  font-weight: 400px;
  margin: var(--spacing-md) 0;
}

/* Layout Styles */
.section-container {
  width: 100%;
  max-width: var(--width-standard);
}

.one-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.two-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

.two-column > .col-left {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.two-column > .col-right {
  width: 50%;
  box-sizing: border-box;
  padding: 0 0 0 var(--spacing-md);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;
}

.card h3 {
  font-family: var(--heading-font);
  font-size: var(--h6-size);
  font-weight: 500;
  margin: 0;
  width: 100%;
}

.card .icon {
  height: 50px;
  margin: 0 0 var(--spacing-sm) 0;
}

.subtitle {
  color: var(--company-blue-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.subtitle2 {
  color: var(--blue-1);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-height);
  color: var(--text-grey);
  letter-spacing: 0.25px;
}

.primary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-accent);
  color: var(--text-light);
  padding: var(--spacing-sm) var(--spacing-md);
  transition: all 0.15s ease;
}

.primary-button:hover {
  background-color: var(--primary-button-hover);
  cursor: pointer;
}

.secondary-button {
  font-family: var(--body-font);
  font-size: var(--button-size);
  letter-spacing: 1.25px;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  color: var(--primary-accent);
  transition: all 0.15s ease;
}

.secondary-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-icon > img {
  transition: transform 0.25s ease;
}

.with-icon:hover > img {
  transform: translateX(5px);
}

.button-link {
  display: flex;
}

.inline-block-link {
  display: inline-block;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--width-standard);
  padding: 0 var(--spacing-md);
  margin: 0;
  box-sizing: border-box;
}

.mainlogo {
  width: 150px;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu a {
  color: white;
  margin: 0px var(--spacing-md);
  font-weight: 500;
  font-size: var(--p-alt-s-size);
}

.menu a:hover {
  text-decoration: underline;
}

.navbar-button {
  background-color: rgba(250, 250, 250, 0.25);
  margin: 0 10px 0 80px;
  font-size: var(--p-alt-s-size);
}

.navbar-button:hover {
  background-color: rgba(250, 250, 250, 0.55);
}

.hamburger-button {
  display: none;

}
/* Navbar Canvas */

.animated-canvas {
  width: 100%;
  height: 1018px;
  transform: skewY(-7deg);
  position: absolute;
  transform: translateZ(2);
  top: -720px;
  z-index: -1;
  --gradient-color-1: #3446eb;
  --gradient-color-2: #27d9e6;
  --gradient-color-3: #19a9eb;
  --gradient-color-4: #473ce7;
}

.hero::after {
  /* White bar to make jagged edges on animated-canvas smooth */
  content: "";
  width: 100%;
  height: 20px;
  transform: skewY(-7deg);
  background-color: var(--bg-white);
  position: absolute;
  z-index: -1;
  top: 293px;
}

/* Hero */
.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: var(--spacing-lg) 0 0 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: var(--spacing-sm) 0;
}

.button-container .button-link button {
  margin: 0 0 0 var(--spacing-md);
  color: var(--company-blue-2);
}

.hero p {
  max-width: 430px;
}

.dynamic {
  background: linear-gradient(145deg, #000, #000, #ffffff, #000, #000);
  background-size: 1300%;
  animation: dynamic 10s linear infinite;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@keyframes dynamic {
  0% {
    background-position: 0%;
  }
  28% {
    background-position: 40%;
  }
  60% {
    background-position: 98%;
  }
  100% {
    background-position: 100%;
  }
}

.hero .airplane-container {
  height: 340px;
  position: relative;
}

.airplane {
  width: 600px;
  transform: rotate(-4deg);
  position: absolute;
  right: 2px;
  top: 54px;
  z-index: 2;
}

.airplane-container::after {
  content: "";
  background: linear-gradient(
    120deg,
    #4c00ff,
    #0050fd,
    #00ccff,
    #00f2fa,
    #00ffff
  );
  background-size: 900% 900%;
  animation: gradient 16s linear infinite;
  height: 130px;
  width: 130px;
  z-index: 0;
  position: absolute;
  right: 392px;
  bottom: 26px;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }
  15% {
    background-position: 50% 50%;
  }
  55% {
    background-position: 0% 50%;
  }
  90% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Main Info Section*/
.main-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
  padding: 0;
}

.main-info .primary-button {
  background-color: var(--mid-accent);
}

.main-info-subpage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--spacing-xl) 0 var(--spacing-lg) 0;
  padding: 0;
}

.main-info-subpage h1 {
  color: #fff;
  text-shadow: 3px 3px 4px #00151f83;
  font-size: var(--h1-size-alt);
}

.main-info-subpage::after {
  content: "";
  width: 100%;
  height: 20px;
  transform: skewY(-7deg);
  background-color: var(--bg-white);
  position: absolute;
  z-index: -1;
  top: 293px;
}

.temporary {
  margin: 100px 0 0 0;
}

/* Partners Section */
.partners-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.partners-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: var(--spacing-lg) var(--spacing-lg);
}

.partners-grid img {
  width: 50%;
  place-self: center;
}

/* Maintenance Section */
.maintenance-section {
  padding: var(--spacing-xl) 0 var(--spacing-md) 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
}

.maintenance-section h2 {
  width: 50%;
  margin-bottom: var(--spacing-md);
}

.maintenance-section .primary-button {
  background-color: var(--company-blue-1);
  margin: var(--spacing-md) 0 var(--spacing-lg) 0;
}

.maintenance-section .primary-button:hover {
  background-color: var(--primary-accent);
}

/* Graphic-Section-1 */
.graphic-section-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    var(--bg-light),
    var(--bg-light-dark),
    var(--bg-light-darker)
  );
  padding: 0 0 var(--spacing-lg) 0;
}

.graphic-grid {
  display: grid;
  grid-template-areas:
    "engine engine ecam"
    "interior plane plane"
    "interior plane plane";
  grid-gap: var(--spacing-lg);
  padding: var(--spacing-md) 0 var(--spacing-xl) 0;
}

#engine {
  grid-area: engine;
}

#ecam {
  grid-area: ecam;
}

#airplane {
  grid-area: plane;
}

#interior {
  grid-area: interior;
}

.graphics-img {
  width: 100%;
  border-radius: 40px;
  box-shadow: var(--heavy-box-shadow);
}

/* Staff Section */
.staff-section {
  color: var(--text-light);
  background-image: linear-gradient(
    var(--initial-accent),
    var(--mid-accent),
    var(--primary-accent)
  );
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxxl) 0;
}

.staff-section .primary-button {
  background-color: var(--blue-1);
  color: var(--primary-accent);
  margin: var(--spacing-md) 0 0 0;
}

.staff-section .primary-button:hover {
  background-color: var(--bg-white);
}

.staff-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.staff-section .card-container .card {
  width: 50%;
}

.staff-section .secondary-button {
  color: var(--blue-1);
}

.col-right.staff-col-right {
  align-items: flex-end;
}

#ame {
  max-width: 480px;
  border-radius: 40px;
  box-shadow: 5px 5px 20px #000000a8;
}

#tools {
  max-width: 480px;
  margin: var(--spacing-lg) 0 0 0;
  border-radius: 40px;
  box-shadow: 5px 5px 20px #000000a8;
}

/* Our Commitment Section */
.commitment-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) 0;
}
.commitment-section .card-container {
  display: flex;
  margin: var(--spacing-lg) 0;
}

.commitment-section .card-container .card {
  width: 25%;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.commitment-section .secondary-text {
  color: var(--text-dark);
}

/* Global Section */
.global-section {
  background-image: linear-gradient(
    var(--initial-accent),
    var(--mid-accent),
    var(--primary-accent)
  );
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-light);
  position: relative;
  padding: var(--spacing-xxl) 0 var(--spacing-lg) 0;
  overflow: hidden;
}

.global-section a {
  color: var(--blue-1);
}

.global-section a:hover {
  color: var(--text-light);
}

.global-section .card-container {
  display: flex;
  margin: var(--spacing-xxl) 0;
}

.global-section .card-container .card {
  width: 25%;
  box-sizing: border-box;
  padding: 0 var(--spacing-sm) 0 0;
  margin: 0 var(--spacing-md) 0 0;
}

.global-section .card-container .card h3 {
  border-left: 2px var(--blue-1) solid;
  padding: 0 0 0 var(--spacing-sm);
  line-height: 28px;
}

.global-section .col-right {
  position: relative;
}

#globe {
  max-width: 844px;
  opacity: 12%;
  position: absolute;
  top: -60px;
  left: -220px;
}

/* Projects Section */

.projects-section {
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) 0;
}

.projects-section .primary-button {
  background-color: var(--company-blue-1);
  margin: var(--spacing-md) 0 0 0;
}

.projects-section .primary-button:hover {
  background-color: var(--primary-accent);
}

.projects-section .col-left {
  height: 430px;
  padding: 0 var(--spacing-xl) 0 0;
}

.projects-section .col-right {
  align-items: flex-end;
}

.projects-card {
  width: 540px;
  height: 446px;
  box-shadow: var(--standard-box-shadow);
  border-radius: 40px;
  overflow: hidden;
}

.projects-card .card-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects-card .card-top::before {
  background: var(--primary-gradient);
  content: "";
  width: 100%;
  height: 150%;
  position: absolute;
  transform: skewY(-5deg);
  top: -60%;
  z-index: 1;
}

.project-photos-section .project-photos {
  width: 130px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  border: 6px solid var(--bg-white);
}

.project-photos-section .project-photos-1 {
  bottom: -60px;
  left: 30px;
}

.project-photos-section .project-photos-2 {
  bottom: -52px;
  left: 145px;
}

.project-photos-section .project-photos-3 {
  bottom: -44px;
  left: 260px;
}

.project-photos-section .project-photos-4 {
  bottom: -36px;
  left: 375px;
}

#card-logo {
  width: 270px;
  border-radius: 0;
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 132px;
}

.projects-card .card-bottom {
  width: 100%;
  height: 48%;
  box-sizing: border-box;
  padding: var(--spacing-xxl) var(--spacing-xl) var(--spacing-xl)
    var(--spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-card .card-bottom .subtitle {
  font-family: var(--heading-font);
  font-size: var(--h6-size);
  margin: 0 0 var(--spacing-md) 0;
}

.projects-card .card-bottom .secondary-text {
  color: var(--text-dark);
  margin: 0 0 0 var(--spacing-md);
  font-weight: 500;
}

/* Inquiry Section */
.inquiry-section {
  display: flex;
  justify-content: center;
  padding: var(--spacing-lg) 0 var(--spacing-xxxl) 0;
}

.inquiry-section .primary-button {
  background-color: var(--company-blue-1);
}

.inquiry-section .primary-button:hover {
  background-color: var(--primary-accent);
}

.inquiry-section .col-left {
  padding: 0 var(--spacing-xl) 0 0;
}

.inquiry-section .col-right {
  flex-direction: row;
  padding: var(--spacing-md) 0 0 var(--spacing-md);
}

.inquiry-section .col-right .card {
  width: 50%;
  box-sizing: border-box;
  padding: 0 var(--spacing-md) 0 0;
  margin: 0 var(--spacing-sm) 0 0;
}

.inquiry-section .col-right .card .secondary-text {
  color: var(--text-dark-grey);
}

.inquiry-section .col-right .card .secondary-button {
  color: var(--company-blue-2);
  padding-left: 0;
}

.inquiry-section .col-right h3 {
  line-height: 28px;
}

/* Footer Section */

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--bg-light);
  padding: var(--spacing-xl) 0;
}

.footer .section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .col {
  width: 25%;
}

.footer-img {
  width: 220px;
  position: relative;
  top: -8px;
}

.footer .footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer .footer-col ul li {
  margin: var(--spacing-sm) 0;
}

.footer .footer-col a {
  color: var(--text-dark);
  font-weight: 400;
}

.footer .footer-col a:hover {
  color: var(--company-blue-1);
  text-decoration: underline;
}

.footer .icon-link {
  display: flex;
  align-items: center;
  margin: 0 var(--spacing-sm) var(--spacing-md) var(--spacing-sm);
}

.footer .icon-link p{
  margin: 0;
}

.footer .icon-link img {
  width: 24px;
  margin: 0 var(--spacing-sm) 0 0;
}

.footer h4 {
  font-size: var(--h6-size);
  font-weight: 600;
}

/* Responsiveness */
@media only screen and (max-width: 1200px) {
  :root {
    --h1-size: 86px;
  }

  .section-container {
    padding: 0 var(--spacing-md);
  }

  .airplane {
    width: 500px;
  }

  .airplane-container::after {
    height: 110px;
    width: 110px;
    right: 326px;
    bottom: 76px;
    transform: skewY(-10deg);
  }
}

@media only screen and (max-width: 1040px) {
  :root {
    --h1-size: 80px;
    --h1-height: 80px;
  }

  .hero .two-column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero .col-left {
    width: 100%;
  }

  .hero .col-right {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 220px;
    margin: 0 0 var(--spacing-xl) 0;
  }

  .hero .col-left h1 {
    text-align: center;
    margin: 0;
  }

  .animated-canvas {
    width: 100%;
    top: -796px;
    transform: skewY(-4deg);
  }

  main {
    margin: var(--spacing-xl) 0 0 0;
  }

  .hero::after {
    height: 20px;
    transform: skewY(-4deg);
    top: 216px;
  }

  .col-right.airplane-container {
    display: flex;
    flex-direction: column;
  }

  .airplane {
    width: 540px;
    transform: rotate(0deg);
    position: relative;
    z-index: 2;
    left: -20px;
  }

  .airplane-container::after {
    display: none;
  }

  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 122px;
    width: 134px;
    top: -140px;
    left: -160px;
    transform: skewY(-7deg);
    background: linear-gradient(
      120deg,
      #4c00ff,
      #0050fd,
      #00ccff,
      #00f2fa,
      #00ffff
    );
    background-size: 900% 900%;
    animation: gradient 16s linear infinite;
  }

  .main-info {
    margin-top: -70px;
  }

  .main-info-subpage {
    margin-top: 20px;
  }

  .staff-section .col-left {
    width: 55%;
  }

  .staff-section .col-right {
    width: 45%;
  }

  #ame {
    max-width: 350px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #000000a8;
    margin: var(--spacing-xl) 0 0 0;
  }

  #tools {
    max-width: 350px;
    margin: var(--spacing-xl) 0 0 0;
    border-radius: 30px;
    box-shadow: 5px 5px 20px #000000a8;
  }

  .staff-section {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }

  .global-section .two-column {
    flex-direction: column;
  }

  .global-section .two-column .col-left {
    width: 100%;
  }

  .global-section .two-column .col-right {
    width: 100%;
    padding: 0;
  }

  #globe {
    max-width: 844px;
    opacity: 10%;
    position: absolute;
    top: -300px;
    left: 40px;
  }

  .projects-section {
    padding-top: var(--spacing-md);
  }

  .projects-section .two-column {
    flex-direction: column;
  }

  .projects-section .two-column .col-left {
    width: 100%;
    padding-right: 0;
  }

  .projects-section .two-column .col-right {
    width: 100%;
    padding: 0;
    align-items: center;
  }

  .inquiry-section .col-right h3 {
    line-height: 28px;
  }
}

@media only screen and (max-width: 850px) {
  :root {
    --h1-size: 70px;
    --h1-height: 70px;
  }

  .menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 50px;
    text-align:left ;
    justify-content: left;
    background-color: rgba(79, 117, 240, 50);
    opacity: 0.85;
    transition: 0.3s;
    font-size: 20px;
  }

  .navbar .menu .menu-item {
    margin: 2px 40px 4px 0px;
    opacity: 1;
    font-size: 20px;
  }

  .menu.active {
    right: 0;
  }

  .navbar .navbar-button {
    display: none;
  }

  .hamburger-button {
    width: 60px;
    height: 36px;
    background-color: rgba(250, 250, 250, 0.25);
    border-radius: 18px;
    position: absolute;
    right: 12px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hamburger-button .bar {
    width: 28px;
    height: 3px;
    background-color: var(--bg-white);
    margin: 2px;
    border-radius: 2px;
  }

  .hamburger-button.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-button.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
    transition: 0.2s;
  }

  .hamburger-button.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    transition: 0.2s;
  }

  .partners-grid img {
    width: 65%;
  }
  #ame {
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000000a8;
    margin: var(--spacing-xxl) 0 0 0;
  }

  #tools {
    max-width: 300px;
    margin: var(--spacing-xl) 0 0 0;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000000a8;
  }

  .commitment-section {
    padding: var(--spacing-xl) 0;
  }

  .commitment-section .card-container .card {
    padding: 0 var(--spacing-sm) 0 0;
  }

  #globe {
    max-width: 844px;
    opacity: 10%;
    position: absolute;
    top: -360px;
    left: -60px;
  }

  .global-section {
    padding: var(--spacing-xxl) 0 var(--spacing-md) 0;
  }

  .footer .section-container {
    flex-wrap: wrap;
  }

  .footer .footer-col {
    width: 50%;
    padding-right: var(--spacing-lg);
    box-sizing: border-box;
  }

  .footer-img {
    width: 180px;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  :root {
    --h1-size: 62px;
    --h1-height: 60px;
    --h3-size: 34px;
  }

  .two-column .col-right.airplane-container {
    padding: 0;
    width: 100%;
  }

  .airplane {
    width: 86%;
    left: none;
    position: normal;
    z-index: 2;
    padding: 0;
    margin: 0;
  }

  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 128px;
    width: 150px;
    top: -144px;
    left: -180px;
  }

  .airplane-container::after {
    display: none;
  }

  .partners-grid img {
    width: 75%;
  }

  .partners-grid {
    margin: var(--spacing-lg) 0;
  }

  .maintenance-section h2 {
    width: 100%;
  }

  .graphic-grid {
    grid-gap: var(--spacing-md);
    padding-bottom: var(--spacing-lg);
  }

  .graphics-img {
    border-radius: 30px;
    box-shadow: var(--standard-box-shadow);
  }

  .staff-section .card-container {
    flex-direction: column;
  }

  .staff-section .card-container .card {
    width: 80%;
    margin: 0 0 0 var(--spacing-md);
  }

  .staff-section .card-container .card p {
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
  }

  .staff-section .card-container .card .icon {
    margin-top: var(--spacing-lg);
  }

  .staff-section .card-container .card .secondary-button.with-icon {
    padding: 0;
  }

  .staff-section .col-right {
    display: none;
  }

  .staff-section .col-left {
    width: 100%;
  }

  .commitment-section {
    padding-bottom: var(--spacing-lg);
  }

  .commitment-section .card-container {
    flex-wrap: wrap;
  }

  .commitment-section .card-container .card {
    width: 50%;
    box-sizing: border-box;
    margin: 0 0 var(--spacing-md) 0;
    padding: 0 var(--spacing-lg) 0 0;
  }
}

@media only screen and (max-width: 680px) {
  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 118px;
    width: 124px;
    top: -141px;
    left: -164px;
  }

  #globe {
    max-width: 844px;
    opacity: 10%;
    position: absolute;
    top: -360px;
    left: -140px;
  }

  .global-section {
    padding: var(--spacing-xl) 0 var(--spacing-sm) 0;
  }
}

@media only screen and (max-width: 634px) {
  main {
    margin-top: 20px;
  }

  .main-info-subpage {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 108px;
    width: 124px;
    top: -140px;
    left: -140px;
  }

  .col-right.airplane-container {
    margin-top: -30px;
  }

  .projects-section .projects-card {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 550px) {
  main {
    margin-top: 16px;
  }

  .navbar {
    padding-top: 5px;
  }

  .hamburger-button {
    margin-top: 4px;
    margin-right: 4px;
  }

  .airplane {
    width: 97%;
    left: 0px;
  }

  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 98px;
    width: 114px;
    top: -138px;
    left: -130px;
  }

  .two-column {
    flex-direction: column;
  }

  .two-column .col-left {
    width: 100%;
  }

  .two-column .col-right {
    width: 100%;
    padding: 0;
  }

  .partners-grid {
    grid-template-columns: 1fr 1fr;
    margin: var(--spacing-lg) 0;
  }

  .partners-grid img {
    width: 120px;
  }

  .maintenance-section {
    padding-top: var(--spacing-lg);
  }

  .maintenance-section h2 {
    width: 100%;
  }

  .graphics-img {
    border-radius: 24px;
  }

  .staff-section {
    padding-top: var(--spacing-lg);
  }

  .commitment-section {
    padding: var(--spacing-lg) 0 var(--spacing-md) 0;
  }

  .commitment-section .card-container {
    margin: var(--spacing-sm) 0 var(--spacing-lg) 0;
  }
  .commitment-section .card-container .card {
    width: 100%;
    margin: var(--spacing-md) 0;
    box-sizing: border-box;
  }

  .commitment-section .card-container .card p {
    margin: var(--spacing-sm) 0;
  }

  #globe {
    max-width: 660px;
    opacity: 10%;
    position: absolute;
    top: -20px;
    left: -120px;
  }

  .global-section {
    padding: var(--spacing-lg) 0 0 0;
  }

  .projects-section {
    padding: var(--spacing-lg) 0 var(--spacing-lg) 0;
  }

  .projects-section .col-right {
    margin-top: var(--spacing-md);
  }

  .project-photos.project-photos-4 {
    visibility: hidden;
  }

  .projects-card #card-logo {
    position: relative;
    top: -50px;
    left: 0px;
    align-items: center;
  }

  .project-photos-section .project-photos-1 {
    bottom: -60px;
    left: 60px;
  }

  .project-photos-section .project-photos-2 {
    bottom: -52px;
    left: 175px;
  }

  .project-photos-section .project-photos-3 {
    bottom: -44px;
    left: 290px;
  }

  .inquiry-section {
    padding: var(--spacing-lg) 0 var(--spacing-xl) 0;
  }

  .inquiry-section .col-right {
    margin-top: var(--spacing-lg);
  }

  .inquiry-section .col-right h3 {
    line-height: 24px;
  }

  .inquiry-section .two-column .col-left {
    width: 100%;
    padding: var(--spacing-md) 0 var(--spacing-sm) 0;
  }

  .footer {
    padding: var(--spacing-lg) 0 var(--spacing-lg) 0;
  }
}

@media only screen and (max-width: 500px) {
  .hero .col-right.airplane-container {
    margin-top: -70px;
    margin-left: -10px;
  }

  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 98px;
    width: 114px;
    top: -135px;
    left: -120px;
  }

  .main-info .one-column {
    margin-top: -24px;
  }

  .main-info {
    margin-bottom: 0;
  }
  .graphic-grid {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-md);
  }

  .staff-section {
    padding-bottom: var(--spacing-lg);
  }

  .staff-section .card-container {
    margin-top: var(--spacing-sm);
  }

  .project-photos-section .project-photos-1 {
    bottom: -244px;
    left: -230px;
    position: relative;
  }

  .project-photos-section .project-photos-2 {
    bottom: -90px;
    left: -120px;
    position: relative;
  }

  .project-photos-section .project-photos-3 {
    bottom: 62px;
    left: -8px;
    position: relative;
  }

  .projects-card #card-logo {
    top: -50px;
    left: 84px;
  }
}

@media only screen and (max-width: 450px) {
  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 86px;
    width: 114px;
    top: -136px;
    left: -106px;
  }

  .global-section .col-left {
    padding-left: var(--spacing-md);
  }

  .global-section .card-container {
    padding: 0 var(--spacing-md);
    margin: 80px 0;
  }

  #globe {
    max-width: 620px;
    opacity: 10%;
    position: absolute;
    top: 0px;
    left: -110px;
  }

  .project-photos-section .project-photos-1 {
    bottom: -238px;
    left: -240px;
    position: relative;
  }

  .project-photos-section .project-photos-2 {
    bottom: -84px;
    left: -134px;
    position: relative;
  }

  .project-photos-section .project-photos-3 {
    bottom: 68px;
    left: -28px;
    position: relative;
  }

  .projects-card #card-logo {
    top: -50px;
    left: 62px;
  }

  .projects-section .col-right {
    margin-top: var(--spacing-lg);
  }

  .footer-img {
    width: 160px;
    top: -4px;
  }
}

@media only screen and (max-width: 400px) {
  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 77px;
    width: 110px;
    top: -134px;
    left: -90px;
  }

  .projects-section {
    padding-top: var(--spacing-lg);
  }
  .project-photos-section .project-photos {
    width: 100px;
  }

  .project-photos-section .project-photos-1 {
    bottom: -208px;
    left: -220px;
  }

  .project-photos-section .project-photos-2 {
    bottom: -84px;
    left: -134px;
  }

  .project-photos-section .project-photos-3 {
    bottom: 38px;
    left: -42px;
  }

  .projects-section .col-right {
    margin-top: var(--spacing-lg);
  }

  .footer-img {
    width: 150px;
    top: -4px;
  }
}

@media only screen and (max-width: 365px) {
  .hero h1 {
    font-size: 56px;
  }
  
  .airplane-tail {
    position: relative;
    display: inline-block;
    height: 70px;
    width: 100px;
    top: -132px;
    left: -80px;
  }

  .projects-section {
    padding-top: var(--spacing-xl);
  }

  .footer-img {
    width: 130px;
  }
}

html,
body {
  /* This code makes sure the users cannot scroll horizontally on smaller screens. Overflow will be cutoff */
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
